asgiref==3.6.0
beautifulsoup4==4.12.2
Django==4.2
django-appconf==1.0.5
django-bootstrap4==23.1
django-select2==8.1.1
Pillow==9.5.0
psycopg2==2.9.7
psycopg2-binary==2.9.6
soupsieve==2.4
sqlparse==0.4.3
tzdata==2023.3
