{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>The Character Forge</title>
    <style>
        .card-header {
            font-size: 64px;
            background-color: #e61720;
            text-align:center;
            color:white;
            text-shadow:
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px #000;
        }
        .card-body {
            font-size: 24px;
            text-align: justify;
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        .card {
            width: 60%;
            margin: auto;
        }
        @media (max-width: 1300px) {
            .card {
                width: 100%;
            }
        }
    </style>
</head>
<body style="background-color: #faebeb">
<div class="card">
  		<h2 class="card-header">THE CHARACTER FORGE</h2>
		<div class="card-body">
            <h3 style="text-align:center; font-size: 50px;">INTRODUCTION</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et magna arcu. Praesent fermentum ut est non ullamcorper. Vivamus ac laoreet justo. Proin posuere volutpat elit, pulvinar iaculis nunc finibus a. Fusce auctor efficitur justo eu malesuada. Fusce ultricies egestas fermentum. Duis cursus fringilla bibendum. Aliquam id metus ipsum. Proin luctus libero non nisl ultrices, non hendrerit tortor pretium. Integer dapibus dui in mi gravida egestas.</p>
            <p>Pellentesque commodo venenatis dui quis venenatis. Etiam blandit, massa eget interdum laoreet, odio nisl aliquam nisl, non tempus magna lacus a mi. Nulla at hendrerit dolor. Donec auctor a urna eu imperdiet. Sed non nisi laoreet, egestas quam sed, ultrices odio. Mauris egestas nisi ut nulla blandit pellentesque. Curabitur a mauris sit amet odio bibendum facilisis at eu ex.</p>
            <p>Aliquam ultricies felis et laoreet dictum. Mauris maximus leo lobortis, bibendum odio nec, interdum ipsum. Fusce et est posuere, vulputate ligula nec, pellentesque turpis. Nulla non tempor orci, non euismod eros. Duis malesuada sollicitudin lacus, vestibulum lobortis augue venenatis eget. Vivamus id rhoncus purus, id mollis arcu. Praesent nunc orci, sodales vitae magna quis, convallis fringilla odio. Phasellus in nunc in nisi ultrices rhoncus.</p>
            <p>Maecenas eget sapien et turpis eleifend volutpat nec ac dui. Morbi fringilla augue quis blandit interdum. Mauris tristique fermentum est, vitae aliquam mi. Proin a magna turpis. Nulla facilisi. Mauris placerat sed odio sit amet vestibulum. Proin dapibus vel nisi in sagittis. Phasellus lacinia sapien vitae purus hendrerit, id tincidunt leo mattis. Suspendisse lobortis, nulla sit amet viverra commodo, ante sapien luctus urna, in porttitor tellus turpis sit amet dolor. Curabitur vitae nisi imperdiet, suscipit nisl ac, maximus erat. Fusce ac gravida quam. Suspendisse potenti. Vivamus fermentum odio vitae risus hendrerit, ut venenatis eros laoreet. In et nulla mollis, efficitur erat et, tempus nibh</p>
            <p>Curabitur tristique condimentum enim non blandit. Nullam vitae lectus aliquet, dignissim orci quis, dapibus sapien. Duis imperdiet vulputate quam a maximus. Maecenas est mauris, egestas sed risus et, vulputate condimentum urna. Nunc congue rhoncus risus quis aliquam. Nullam posuere accumsan consectetur. Nam dapibus leo vel tincidunt elementum.</p>
 		</div>
        <div class="card-body">
            <h3 style="text-align:center; font-size: 50px;"><a href="{% url 'original_builds' %}">ORIGINAL BUILDS</a></h3>
            <br/><img src="{% static 'img/original_builds_img.jpg' %}" class="center"><br/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et magna arcu. Praesent fermentum ut est non ullamcorper. Vivamus ac laoreet justo. Proin posuere volutpat elit, pulvinar iaculis nunc finibus a. Fusce auctor efficitur justo eu malesuada. Fusce ultricies egestas fermentum. Duis cursus fringilla bibendum. Aliquam id metus ipsum. Proin luctus libero non nisl ultrices, non hendrerit tortor pretium. Integer dapibus dui in mi gravida egestas.</p>
            <p>Pellentesque commodo venenatis dui quis venenatis. Etiam blandit, massa eget interdum laoreet, odio nisl aliquam nisl, non tempus magna lacus a mi. Nulla at hendrerit dolor. Donec auctor a urna eu imperdiet. Sed non nisi laoreet, egestas quam sed, ultrices odio. Mauris egestas nisi ut nulla blandit pellentesque. Curabitur a mauris sit amet odio bibendum facilisis at eu ex.</p>
            <p>Aliquam ultricies felis et laoreet dictum. Mauris maximus leo lobortis, bibendum odio nec, interdum ipsum. Fusce et est posuere, vulputate ligula nec, pellentesque turpis. Nulla non tempor orci, non euismod eros. Duis malesuada sollicitudin lacus, vestibulum lobortis augue venenatis eget. Vivamus id rhoncus purus, id mollis arcu. Praesent nunc orci, sodales vitae magna quis, convallis fringilla odio. Phasellus in nunc in nisi ultrices rhoncus.</p>
            <p>Maecenas eget sapien et turpis eleifend volutpat nec ac dui. Morbi fringilla augue quis blandit interdum. Mauris tristique fermentum est, vitae aliquam mi. Proin a magna turpis. Nulla facilisi. Mauris placerat sed odio sit amet vestibulum. Proin dapibus vel nisi in sagittis. Phasellus lacinia sapien vitae purus hendrerit, id tincidunt leo mattis. Suspendisse lobortis, nulla sit amet viverra commodo, ante sapien luctus urna, in porttitor tellus turpis sit amet dolor. Curabitur vitae nisi imperdiet, suscipit nisl ac, maximus erat. Fusce ac gravida quam. Suspendisse potenti. Vivamus fermentum odio vitae risus hendrerit, ut venenatis eros laoreet. In et nulla mollis, efficitur erat et, tempus nibh</p>
            <p>Curabitur tristique condimentum enim non blandit. Nullam vitae lectus aliquet, dignissim orci quis, dapibus sapien. Duis imperdiet vulputate quam a maximus. Maecenas est mauris, egestas sed risus et, vulputate condimentum urna. Nunc congue rhoncus risus quis aliquam. Nullam posuere accumsan consectetur. Nam dapibus leo vel tincidunt elementum.</p>
        </div>
        <div class="card-body">
            <h3 style="text-align:center; font-size: 50px;"><a href="{% url 'recreation_builds' %}">RECREATIONS</a></h3>
            <br/><img src="{% static 'img/recreation_builds_img.jpg' %}" class="center"><br/>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et magna arcu. Praesent fermentum ut est non ullamcorper. Vivamus ac laoreet justo. Proin posuere volutpat elit, pulvinar iaculis nunc finibus a. Fusce auctor efficitur justo eu malesuada. Fusce ultricies egestas fermentum. Duis cursus fringilla bibendum. Aliquam id metus ipsum. Proin luctus libero non nisl ultrices, non hendrerit tortor pretium. Integer dapibus dui in mi gravida egestas.</p>
            <p>Pellentesque commodo venenatis dui quis venenatis. Etiam blandit, massa eget interdum laoreet, odio nisl aliquam nisl, non tempus magna lacus a mi. Nulla at hendrerit dolor. Donec auctor a urna eu imperdiet. Sed non nisi laoreet, egestas quam sed, ultrices odio. Mauris egestas nisi ut nulla blandit pellentesque. Curabitur a mauris sit amet odio bibendum facilisis at eu ex.</p>
            <p>Aliquam ultricies felis et laoreet dictum. Mauris maximus leo lobortis, bibendum odio nec, interdum ipsum. Fusce et est posuere, vulputate ligula nec, pellentesque turpis. Nulla non tempor orci, non euismod eros. Duis malesuada sollicitudin lacus, vestibulum lobortis augue venenatis eget. Vivamus id rhoncus purus, id mollis arcu. Praesent nunc orci, sodales vitae magna quis, convallis fringilla odio. Phasellus in nunc in nisi ultrices rhoncus.</p>
            <p>Maecenas eget sapien et turpis eleifend volutpat nec ac dui. Morbi fringilla augue quis blandit interdum. Mauris tristique fermentum est, vitae aliquam mi. Proin a magna turpis. Nulla facilisi. Mauris placerat sed odio sit amet vestibulum. Proin dapibus vel nisi in sagittis. Phasellus lacinia sapien vitae purus hendrerit, id tincidunt leo mattis. Suspendisse lobortis, nulla sit amet viverra commodo, ante sapien luctus urna, in porttitor tellus turpis sit amet dolor. Curabitur vitae nisi imperdiet, suscipit nisl ac, maximus erat. Fusce ac gravida quam. Suspendisse potenti. Vivamus fermentum odio vitae risus hendrerit, ut venenatis eros laoreet. In et nulla mollis, efficitur erat et, tempus nibh</p>
            <p>Curabitur tristique condimentum enim non blandit. Nullam vitae lectus aliquet, dignissim orci quis, dapibus sapien. Duis imperdiet vulputate quam a maximus. Maecenas est mauris, egestas sed risus et, vulputate condimentum urna. Nunc congue rhoncus risus quis aliquam. Nullam posuere accumsan consectetur. Nam dapibus leo vel tincidunt elementum.</p>
        </div>
	</div>
</body>
</html>
